* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f8f8fa;
}
.container {
  display: flex;
}
.flex-container {
  display: flex;
}
.sidebar {
  width: 250px;
  height: 100%;
  background: #343549;
  box-sizing: border-box;
  position: fixed;
  height: 100%;
}
.sidebar h1 {
  color: #fff;
  text-align: center;
  margin: 20px;
}
.sidebar h4 {
  color: #fff;
  margin: 0px;
  padding: 20px;
}
.sidebar ul {
  list-style-type: none;
  padding: 0px;
}
.sidebar ul li a {
  display: flex;
  margin: 0px;
  padding: 10px 20px;
  text-decoration: none;
  color: #ddd;
}

.sidebar-nav li a i.fa-icon {
  font-size: 22px;
  display: block;
  text-decoration: none;
}
.sidebar ul li a:hover {
  color: #121212;
  background: #efefef;
}
.sidebar-item {
  margin: 0px 10px;
  font-size: 20px;
}
.notification {
  margin-left: auto;
}
header {
  display: flex;
  flex-flow: wrap row;
  height: row;
  background: #edecf1;
  padding: 10px;
  box-sizing: border-box;
  width: 100%;
}
.main {
  padding-left: 250px;
  flex: 1;
}

.main select {
  margin: 20px;
  width: auto;
  min-height: 20px;
  font-size: 16px;
}
.main a i {
  font-size: 24px;
  padding: 20px;
  color: black;
}
.dashboard-heading {
  display: flex;
}
.side-button {
  margin-left: auto;
  padding: 25px;
}
.settings {
  background: #626ed4;
  color: #efefef;
  font-size: 16px;
  padding: 5px;
  box-shadow: gray 5px 5px 10px;
}
.settings i {
  margin-right: 10px;
  color: white;
}

.fa-right-icon {
  font-size: 16px;
  padding: 3px;
  margin-left: auto;
}
.heading-container h1 {
  margin: 0px 15px;
  padding: 0px;
}
.heading-container h4 {
  margin: 5px 15px;
  padding: 0px;
}
.card-container {
  display: flex;
}
.bookmark::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  border-top: solid 15px transparent;
  border-bottom: solid 15px transparent;
  border-left: solid 15px #626ed4;
}
.card-container {
  display: flex;
  background: #f8f8fa;
  margin: 0px 15px;
  flex-wrap: wrap;
}

.searchbar {
  border-radius: 20px;
  margin-left: auto;
  padding: 10px;
  width: 200px;
  font-size: 20px;
  box-sizing: border-box;
  height: 40px;
  margin-top: 15px;
}
.card {
  display: flex;
  flex-direction: column;
  background: #626ed4;
  padding: 0px;
  margin: auto;
}
.card:hover {
  border-radius: 15px;
  transition: 0.3s ease-in-out;
}
.card-upper-part {
  display: flex;
}
.card-upper-part img {
  height: 80px;
  margin: 15px;
}
.card-middle-text {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.bookmark-container {
  position: relative;
}
.bookmark {
  color: #ffffff;
  width: 80px;
  height: 30px;
  text-align: center;
  background: #2aa39a;
  margin: 10px 0px 5px 0px;
  padding-top: 6px;
}
.arrow-container {
  margin: 20px 0px 5px 0px;
}
.arrow-container i {
  color: #24ed43;
  font-size: 14px;
}
.lower-part-container {
  margin: 10px 5px 10px 15px;
}
.card-lower-part {
  display: flex;
}
.card-lower-text {
  font-size: 14px;
  color: #dedede;
}
.card-lower-arrow {
  margin-left: auto;
  padding-right: 10px;
}
.card-lower-arrow a {
  margin: 0px;
  padding: 0px;
}
.card-lower-arrow a i {
  color: #989898;
  font-size: 16px;
  margin: 0px;
  padding: 0px;
}

.card-lower-arrow a i:hover {
  color: #ffffff;
  font-size: 16px;
  margin: 0px;
  padding: 0px;
}

.table-chat {
  display: flex;
  margin: 0px 15px;
}
.table-container {
  flex: 2;
}
.chat-container {
  flex: 1;
}
table {
  background: white;
  margin: 20px 10px;
  width: 100%;
  border: 1px solid #e7e7e7;
  padding: 10px;
}
table th {
  font-size: 18px;
  text-align: left;
  padding: 15px 0px 15px 10px;
}
table td {
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  margin: 30px 0px;
  padding: 15px 5px;
}
.delivered {
  color: white;
  background: #2aa39a;
  border: 0px;
  padding: 1px 6px;
  border-radius: 3px;
}
.cancel {
  color: white;
  background: #ec4561;
  border: 0px;
  padding: 1px 6px;
  border-radius: 3px;
}

.pending {
  color: white;
  background: #f8b425;
  border: 0px;
  padding: 1px 6px;
  border-radius: 3px;
}
.edit-button {
  background: #626ed4;
  color: white;
  border-radius: 5px;
  padding: 2px 7px;
}

.chat-container {
  padding: 20px;
  margin: 20px;
  background: white;
  position: relative;
}
.chat-bubble {
  width: 100%;
  display: flex;
}
.chat-bubble img {
  padding: 0px;
  margin: 10px;
  height: 50px;
}
.chat-bubble-text-container {
  position: relative;
}

.chat-bubble-text {
  background: #e1e4f7;
  padding: 10px;
  margin: 10px;
  color: #575c62;
}
.chat-bubble-text h3 {
  color: #626ed4;
  margin-bottom: 5px;
}
.chat-bubble-text::after {
  content: "";
  top: 0px;
  left: 0px;
  margin-top: 10px;
  position: absolute;
  border-top: solid 10px #e1e4f7;
  border-left: solid 10px white;
  width: 0px;
  height: 0px;
}
.receiver {
  text-align: right;
  flex-direction: row-reverse;
}

.chat-bubble.receiver .chat-bubble-text-container .chat-bubble-text::after {
  right: 0px;
  left: auto;
  border-right: solid 10px white;
  border-left-color: #e1e4f7;
}
.input-box-container {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 90%;
}
.input-box {
  width: 100%;
  min-height: 20px;
  font-size: 18px;
  padding: 4px;
  border-radius: 10px;
  display: inline-block;
}
.send-icon {
  position: absolute;
  right: 10px;
  bottom: 5px;
  display: inline-block;
  padding: 5px;
}

@media only screen and (max-width: 720px) {
  .card-container {
    flex-direction: column;
    padding: 20px;
  }
  .card {
    margin: 20px auto;
  }
  .table-chat {
    flex-direction: column;
    padding: 20px;
  }
  .side-button {
    margin-right: 30px;
  }
  .sidebar {
    display: none;
  }
  .main {
    padding-left: 0px;
  }
}
